body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #321603;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px;
}

/* .past {
  background-color: #9acef8;
  color: white;
}

.present {
  background-color: #5f95ac;
  color: white;
}

.future {
  background-color: #6187b8;
  color: white;
} */

.past {
  background-color: #94d2bd;
  color: white;
}

.present {
  background-color: #6bdadc;
  color: white;
}

.future {
  background-color: #649ba6;
  color: white;
}
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #000000;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px), screen and (max-width: 575px) {
  .row {
    height: auto;
    margin-top: 20px;
  }

  .hour {
    padding-right: 5%;
  }

  .saveBtn {
    border: 0;
    border-radius: 0.25rem;
    height: 50px;
  }

  textarea {
    min-height: 85px;
    border: 0;
  }
}